NationalParks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns="http://venus.sod.asu.edu/WSRepository/xml"
   targetNamespace="http://venus.sod.asu.edu/WSRepository/xml" 
   elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:element name="NationalParks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NationalPark" type="NationalPark" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="NationalPark">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="Address" type="Address"/>


        </xsd:sequence>

        <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>

    </xsd:complexType>

    <xsd:complexType name="Address">
        <xsd:sequence>

            <xsd:element name="Number" type="xsd:string"/> <!-- sometimes house #s have letters-->
            <xsd:element name="Street" type="xsd:string"/>
            <xsd:element name="City"   type="xsd:string"/>
            <xsd:element name="State"  type="xsd:string"/>
            <xsd:element name="Zip"    type="xsd:string"/>

            
        </xsd:sequence>

        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    </xsd:complexType>

</xsd:schema>